<div  class="flex w-full justify-center gap-3">
<h1 class="text-7xl font-extrabold text-pink-500">404</h1>
<p class="text-lg text-white">Страница не найдена!</p>
<br>
<a routerLink="/" class="bg-pink-600 py-1.5 px-3 rounded-lg text-lg text-white duration-500 active:scale-95 hover:shadow-lg hover:shadow-pink-500/50 hover:bg-pink-700">На главную</a>
</div>
<img src="https://i.ibb.co/G2L0Nh5/image.jpg" alt="Paris" width="400" height="300">
<style>
    img:hover {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      display: block;
     margin-left: auto;
     margin-right: auto;
    }
    </style>