<header style="z-index: 99">
  <div>
    <a routerLink="/" class="text-purple-500">
    <span>Контрольная работа номер 2</span>
  </a>
  </div>
<nav>
  <a routerLink="/" class="text-purple-500 flex space-x-4 ">Главная</a>
  <a routerLink="/cars" class="text-purple-500 flex space-x-4 ">Машины</a>
  <a routerLink="/addcar" class="text-purple-500 flex space-x-4">Подбор машин</a>
  <a routerLink="/about" class="text-purple-500 " >О нас</a>
</nav>
</header>
<router-outlet  class="flex flex-col gap-3 w-full"></router-outlet>
