<title>Главная</title>
<div class="flex flex-col gap-3">
    <h2 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-7xl text-blue-500 w-full text-center font-bold py-12">Добро пожаловать</h2>
    <h3 class="text-base sm:text-xl text-pink-500 w-full text-center font-bold py-12">Сайт по подбору машин</h3>
    <p class="text-blue-200 text-center underline">
        Данный сайт специализирован на упрощения поиска автомобилей.
    </p>
    <ul class="text-pink-300 text-center">
        <li>1. Красивая страница главная</li>
        <li>2. Не менее прескрасный фон</li>
        <li>3. И замечательное количество машин.</li>
        <li>4. Приятного просмотра.</li>
    </ul>
</div>

<br>
<h2 class="text-zinc-50 text-center   rounded-md bg-clip-border p-6 bg-violet-600 border-4 border-violet-300 border-dashed">Сайт был создан при поддержки компании Moscow-ski.ru.<p>Все вопросы по поводу работы сайта отправляйте на номер телефона +79260822018</p></h2>